

body {
    text-align: center;
}

header{
    display: flex;
    justify-content: center;
}

nav{
    /* max-width: 400px; */
    text-align: center;
    margin-left: 3rem;
}

.index__articles{
    display: flex;
    flex-wrap: wrap;
    /* max-width: 80%; */
    justify-content: center;
}
article{
    width: 200px;
    margin: 1rem;
}

.detail-article{
    display: flex;
    justify-content: center;
}

.position__Detail__article{
    width: 400px;
    margin: 1rem;
}

